.cabecalho {
    background-color: #72c4af; /* Cor de fundo do cabeçalho */
    color: #bebebe; /* Cor do texto no cabeçalho */
    padding: 10px; /* Espaçamento interno do cabeçalho */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50PX;
    width: auto;
}

.main{
    margin: 10px 30px 0px 40px;  
    display: flex;
    width: auto;
    flex-wrap: wrap;
}

.informativo{
    width: auto;
    margin-right: 20px;
    max-width: 800px;
}

.formulario{
    width: auto;
}

/* Estilos para o logo */
.logo {
    font-size: 24px; 
    font-weight: bold; 
    color: #141414;
    text-transform: uppercase; 
    letter-spacing: 2px; 
    margin-right: 10px; 
    
}

/* Estilos para o link de "Fale Conosco" */
.faleconosco {
    font-size: 16px; /* Tamanho da fonte */
    display: flex;
    align-items: center; 
    color: white;
}

.zap {
    width: 20px; /* Largura do ícone do WhatsApp */
    height: 20px; /* Altura do ícone do WhatsApp */
    margin-right: 5px; /* Espaçamento à direita do ícone */
}

/* Estilos para o menu de navegação */
/* Estilos para o menu de navegação */
.navega ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navega ul li {
    margin-right: 20px;
}

.navega ul li a {
    text-decoration: none;
    color: #ffffff; /* Cor do texto no menu */
    font-weight: bold;
    transition: color 0.3s;
    margin-left: 10px;
}

.navega ul li a:hover {
    color: #017a7e; /* Cor do texto ao passar o mouse sobre ele */
    
}


.navega ul li a.active {
    background-color: #0ef5d6; 
    color: #fff; 
}

#idfaleconosco{
    color: white;
}


#termouso{
    font-size: 16px;
    line-height: 2; 
    color: #333; 
    margin: 10px 30px 0px 40px; 
}

body {
    font-family: Arial, sans-serif;
    background-color: #dddada;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.form-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: auto;
    margin: 0 auto;
    padding: 20px;
    max-width: 450px;
    margin-right: 10px;
}

.form-label {
    font-weight: bold;
}

.form-input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-checkbox {
    margin-right: 5px;
}

.form-submit {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.form-submit:hover {
    background-color: #0056b3;
}

#informativoP{
    font-size: 16px;
    line-height: 2; 
    color: #333; 
    margin: 10px 30px 0px 40px;
}



#imagemIndex{
    margin-left: 100px;
    height: auto;
    width: auto;
    max-width: 70%;
}

#logoTS{
    color: #000000;
    
}
a{
    text-decoration: none;
}

.o-que-e-termo{
    font-size: 16px; 
    line-height: 2; 
    color: #333; 
    margin: 10px 30px 0px 40px; 
}

.mainTermo{
    justify-content: center;
    
}

